name: Kong Demo CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Docker Setup Compose
        uses: docker/setup-compose-action@v1.2.0
        with:
          version: v2.40.3

      - name: Start Kong
        run: |
          docker compose up -d
          sleep 20
          curl -f http://localhost:8001/status || { echo "Kong 启动失败"; exit 1; }

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Install Cypress dependencies
        run: |
          cd cypress-demo
          npm init -y --force
          npm install cypress --save-dev
          npx cypress verify

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6.5.0
        with:
          spec: "**/*.cy.js"
          config-file: ../cypress.config.js
          env: KONG_BASE_URL=http://localhost:8001
          runTests: true
          wait-on: http://localhost:8001/status
          wait-on-timeout: 15
          install: false
          working-directory: ./cypress-demo
          publish-summary: true

      - name: Cleanup Kong containers
        if: always()
        run: docker compose down
